<!DOCTYPE HTML>
<html>

<header>
    <style type="text/css">
        div {
            margin: 0;
            padding: 0;
        }

        .about_title {
            padding: 0;
            width: 300px;
            height: 200px;
            position: absolute;
            top: 5em;
            right: 0;
            left: 0;
            bottom: 0;
            margin-left: auto;
            margin-right: auto
        }
    </style>

</header>

<body>

    <div class="about_title">
        <h1>This is about me</h1>
    </div>

</body>

</html>